body {
    font-family: 'Courier New', Courier, monospace;
    background: orange;
    text-align: center;
  }
  
  input{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  
  button{
    background-color: aquamarine;
  }
  
  p {
    background-color: antiquewhite;
    padding: 10px;
    margin: 20px 70px 20px 70px;
  }